<html>
  <head></head>
  <body>
    <table>		
			<tr>
				<% clo = size.to_i %>
				<% clo.times do |i| %>
						<th><% clo - i - 1 %></th>
				<% end %>
			</tr>
    </table>
  <a href="/"> Back to main </a> 
  </body>
</html>
