<html>
  <head></head>
  <body>
    <form action = '/display' method = 'get'>
        <label> True symbol: </label>
        <input type = 'text' name = 'ts'><br>
        <label> False symbol: </label>
        <input type = 'text' name = 'fs'><br>
        <label> Size(2^x): </label>
        <input type = 'text' name = 'size'><br>
        <input type = 'submit' value = 'Show truth table'/><br><br>
        <a href="/"> Reload Page </a> 
      </form>
  </body>
</html>
